               <nav id="main-menu" class="footer">
                    <div class="container-fluid">
                        
                    <ul>
                       <li><a href="/index.html">Home</a></li>
                       <li><a href="/design-patterns-pages/design-patterns.html">Design patterns</a>
                       <ul>
                           <li><a href="/design-patterns-pages/carousel.html">Carousel</a></li>
                           <li><a href="/design-patterns-pages/accordion.html">Accordion</a></li>
                           <li><a href="/design-patterns-pages/promo.html">Promo</a></li>
                           <li><a href="/design-patterns-pages/group-promo.html">Group promo</a></li>
                           <li><a href="/design-patterns-pages/quote.html">Quote</a></li>
                           <li><a href="/design-patterns-pages/alerts.html">Alerts</a></li>
                           <li><a href="/design-patterns-pages/content-section.html">Content Section</a></li>
                        
                       </ul>
                       </li>
                   </ul>
                         
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                