{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/childFriendlyLeeds/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/childFriendlyLeeds/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
<div class="heroBanner" style="background: transparent url(public/images/childfriendlyleeds/PublishingImages/children-lying-in-the-grass.jpg) no-repeat scroll 50% 0px;" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container">
    <p class="lead">We’re working to bring everyone together to make Leeds a child friendly city</p><div class="ExternalClass66001AEE93594C2EB8E31D2ADACCA444"><p>&#8203;<span style="font-size:18px;line-height:23px">Putting children and young people at the heart of a strong
economy, in a compassionate city.</span></p></div></div>
</div>
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<hr class="ms-rteElement-spacer" />
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <ul>
    <li class="two alignCenter content heightAuto"><div class="ExternalClass1BC15035ABFD40D094C297D811EBE0E5"><p class="bold">&#8203;Over</p>
<p><strong class="lead">630</strong></p>
<p class="bold">BUSINESSES,&nbsp;ORGANISATIONS AND INDIVIDUALS</p>
<p>have joined our campaign to make Leeds a child 
friendly city and signed up to be a child friendly 
Leeds ambassador</p></div>
&#8203;&#8203;</li>
    <li class="four content heightAuto"><div class="ExternalClassD774ED79D0AD42C88CF53A2689C5B275">           <p><strong>We are always looking for new child friendly 
Leeds ambassadors</strong></p>
<br>
  
<p>you might be working for a business, a charity or other third sector organisation, or simply be 
someone who wants to help make a difference to children and young people in Leeds.&#8203;</p>

<a class="button" href="/childfriendlyleeds/Pages/How-do-I-get-involved.aspx">BECOME AN AMBASSADOR NOW</a>
<a class="button alt" href="/childfriendlyleeds/Pages/How-do-I-get-involved.aspx">MORE ON GETTING INVOLVED</a>
         </div>
</li>
  </ul>
  <div class="clear"></div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <ul>
    <li class="two contentLink heightTwo"><div class="ExternalClass787916942C4A44CC90333E180411ECD6"><p>VISIT OUR</p>
<p><strong class="lead">BLOG</strong></p>
<p>featuring the voices of young people, ambassadors, volunteers, leaders and organisations from across the city.</p></div>
<a href="https://childfriendlyleeds.wordpress.com/"><img src="" alt=""><span class="info">Visit the CfL blog<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    <li class="two heightTwo imgCenter"><a href="https://childfriendlyleeds.wordpress.com/2016/10/14/cfl-crew-interview-the-rioheroes-at-the-yorkshire-welcome-parade/" style="background: url(/public/images/childfriendlyleeds/PublishingImages/Rio%20Heroes.jpg) no-repeat"><span class="info">We interview the #RioHeroes at the Yorkshire Welcome Parade<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    <li class="two heightTwo imgCenter"><a href="https://childfriendlyleeds.wordpress.com/2016/10/26/re-imagining-the-child-welfare-system-for-the-21st-century-conference/" style="background: url(/public/images/childfriendlyleeds/PublishingImages/Image%201%20children.png) no-repeat"><span class="info">Re-Imagining the Child Welfare System for the 21st Century<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
  </ul>
  <div class="clear"></div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
          <hr class="ms-rteElement-spacer" />
          <h2 style="text-align:center">Contact us</h2>
           <ul class="iconLinks">
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/childfriendlyleeds">
                        
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/Child_Leeds">
                        
                        twitter</a>
                </li>
            
                <li class="youtube">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        You tube</a>
                </li>

                      <li class="instagram">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                       instagram</a>
                </li>

                      <li class="email">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        email</a>
                </li>
            
                </ul>
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/childFriendlyLeeds/footer_nav.html" %}
 {% endblock %}