@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');

// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;


// mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;


//base.scss

//$base-background-color:#fff;
//$base-font-size:16px ;
//$base-font-color:#333 ;
//$base-link-color:#133E8D ;
//$base-container-width:1500px ;
$btn-background-color:#FFC82E ;
$font-primary: Oswald ; // main font
$font-secondary: Oswald ; // secondary font


// global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:#F49136;
//$main-nav-link:#fff ;

//footer.scss
$footer-font-color:#333 ;
//$footer-nav-selected-link:#133E8D ;

// sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//  socialamedia.scss
$social-link-color:#333 ;

//  sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//  carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


// blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;


//promolist webpart
//$link-font-color:#fff;
$span-info-color:#ffc82e ;
$span-info-hover:#E29805;
//$span-info-secondary-color:#E6CC26;
$span-arrow-base:#FBB616;
//$span-third-info-base:#fff;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
$content-arrow-color:#FBB616;
//$content-border-color:#ddd;


// section backgrounds
$sectionHeader-background-color: #f38520;;
$sectionOne-background-color:#fff ;
$sectionTwo-background-color:#333 ;
$sectionThree-background-color:#f6f6f6 ;
$sectionFour-background-color:#fff;
$sectionFive-background-color:#F0EFEF;

//iconlinks
$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5) !default; 
//$heroFontcolor:#fff !default; 


@import 'mixins';
@import 'variables';
@import 'brandColors';

// available sass files please un-comment out as required

//@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'sectionSubsite';
@import 'promo';
@import 'carousel';
//@import 'socialMedia';
//@import 'sideNavigation';
//@import 'blockLinks';
@import 'accordion';
@import 'promoGroup';
@import 'alerts';
@import 'promoListwebpart';
//@import 'eventsWebparts';
@import 'sharepointOverides';
@import 'iconLinks';
@import 'heroBanner';




.sectionTwo {
    color:#fff;
    h1, h2, h3, h4, h5, ul, ol, p, input {

    color: #fff;
}
}



.sectionFive {
    background: #F0EFEF url(../../images/childFriendlyLeeds/silloette.png) no-repeat center bottom;
    padding-bottom: 200px;
}


 .logo{
        height:157px;
        width:133px;
        background:url('../../images/childFriendlyLeeds/logo.png')  center top no-repeat;
        margin:20px 0;

        @media (max-width: 767px){
            width:100%;
        }

    }

    footer.main, footer.main .footer {
    background: #fff;
}


 



.promoListWebpart .content p strong, .promoListWebpart .heightTwo.content p strong {
    font-size: 35px;
    line-height: 40px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
}

.promoListWebpart p strong.lead, .promoListWebpart .heightTwo p strong.lead {
    text-align: center;
    font-weight: 600;
    font-size: 100px;
    line-height: 75px;
    color: rgb(243, 133, 32);
    margin-top: 0px;
}



.promoListWebpart {
    
  p.bold {
    font-weight: 600;
}
}

.btn, .button
{
font-weight:400;
border:none !important;
box-shadow: none;


&:after {
    top: 0px;
    font-size:20px;
    background:#FBB616;
}

&.alt 
 {
    background: #F0EFEF;
    color: #333;


}

}



