<ul class="blockLinks">
<li class="col-md-4 col-sm-6">
    <a href="">
     <img src="/public/img/DAD_BOY_READING.JPG">
      <div><span>link one</span></div>
    </a>
    </li>

    <li class="col-md-4 col-sm-6">
    <a href="">
     <img src="/public/img/DAD_BOY_READING.JPG">
      <div><span>link with a really long title bbbb</span></div>
    </a>
    </li>

    
    <li class="col-md-4 col-sm-6">
    <a href="">
     <img src="/public/img/DAD_BOY_READING.JPG">
      <div><span>link</span></div>
    </a>
    </li>

        
    <li class="col-md-4 col-sm-6">
    <a href="">
     <img src="/public/img/DAD_BOY_READING.JPG">
      <div><span>link</span></div>
    </a>
    </li>



</ul>
<div class="clearfix"></div>