<ul class="promo-group">

            <li class="equal-item"><a href="Carousel.html"><h3>Carousel</h3><p>design pattern</p></a>
            </li>
            <li class="equal-item"><a href="Accordion.html"><h3>Accordion</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="promo.html"><h3>Promo</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="group-promo.html"><h3>Group promo</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="quote.html"><h3>Quote </h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="alerts"><h3>Alerts</h3><p>design pattern</p></a></li>
            <li class="equal-item"><a href="content-section.html"><h3>Content section</h3><p>design pattern</p></a></li>
        </ul>